.osociales div {
  margin-bottom: 0.5rem;
}

#cobertura {
  padding-top: 2rem;
}

@media screen and (min-width: 30rem) {
  .osociales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: scroll;
    max-height: 100vh;
  }
  .osociales {
    height: 50vh;
  }

  .osociales div {
    padding-right: 1rem;
    width: 50%;
  }
}

@media screen and (min-width: 40rem) {
  .osociales {
    max-height: 75vh;
  }

  .osociales div {
    width: 33.33%;
  }
}
